.text-button {
  margin-top: 5px;
    grid-area: button;
    justify-self: end;
}

.text-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.text-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(3px, 3px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.text-button:hover:after {
  transform: translate(0, 0);
}

.text-button:active {
  background-color: #ffdeda;
  outline: none;
}

.text-button:hover {
  outline: none;
}

@media (min-width: 768px) {
  .text-button {
    padding: 0 40px;
  }
}
